################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pdb
*.dll
/LargeNumbers/obj
/LargeNumbersTests/obj/Debug
/LargeNumbersTests/obj/Release
/LargeNumbers/Properties
/.vs
*.config
*.cache
*.CopyComplete
/ProjectEulerTest/obj/Debug
